.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #000; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px;
  color: #f8f9fa;
}
.sidenav .row{
  padding: 2px;
}
.sidenav .row:not(:first-child):hover{
  background: white;
  color: black;
}
.main {
  padding: 0px 10px;
  position: fixed;
  margin-left: 25%;
  height: 100%;
}
.navbar{
  z-index: 2;
}
.data-input{
  height: 30%;
  margin: 50px;
}

.result{
  height: 30%;
  margin: 50px;
}

.app-modal{
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.app-modal-content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 30%;
    text-align: center;
}
.app-modal-content .app-modal-body{
    height: 90%;
}

.app-modal-content .app-modal-footer{
    height: 10%;
}
